/* stylelint-disable at-rule-no-unknown */

/* stylelint-disable at-rule-semicolon-space-before */

@import 'tailwindcss/base';

@import 'tailwindcss/components';

@import 'tailwindcss/utilities';


@keyframes zoom {

  0% {
    transform: scale(120%);
  }

  100% {
    transform: scale(1);
  }

}

.animation {
  animation: zoom forwards;
  animation-duration: 20s;
}
